#header {
  height: 10vh;
  background-color: #576574;
  color: #ffffff;
  font-size: 1.5rem;
}

#header h1 {
  margin: 0;
  height: 100%;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}

main {
  padding: 0 10%;
}

.btn-field {
  height: 15vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}