* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 300px;
  padding: 10px 5px;
  outline: none;
  border-radius: 10px;
  border: 0.5px solid black;
}
