.App-header {
  width: 100%;
  height: fit-content;
  background-color: #282c34;
  color: white;
  margin-bottom: 1rem;
}

.image{
  width: 300px;
  height: 300px;
  margin: 20px;
}

.member{
  display: block;
  margin: 10px;
  font-size: 20px;
  color: #121314;
  text-decoration: none;
  transition: 0.3s;
}

.member:hover{
  font-size: 23px;
  font-weight: bold;
}

.App {
  margin: 0 auto;
}

.show_image{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.image-fieldset{
  margin-left: 20px;
  margin-right: 35px;
  border: 1px solid black;
  border-radius: 15px;
  width: 70em;
}

.memberList {
  margin-left: 20px;
  width:300px;
  height: 500px;
  padding-top: 10px;
  padding-left:0px;
  text-align: center;
  border-radius: 15px;
  list-style: none;
  border: 1px solid #121314;
  background-color: #f7f9fa;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(7, 1fr);
}

.memberList > div{
  font-weight: bold;
  display: inline-block;
  margin: 0;
  font-size: 28px;
}

.classLogo{
  text-decoration: none;
  color: white;
}

.memberList > li {
  width: 130px;
  list-style: none;
}

.logo{
  font-size: 50px;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

